<form action="/user/create" method="POST" role="form" class="sign_up_form">
  <h2>Sign up</h2>
  <% if (flash && flash.err && flash.err.ValidationError) { %>
  <ul class="alert alert-success">
  <% Object.keys(flash.err.ValidationError).forEach(function(error) { %>
    <li>
    <% flash.err.ValidationError[error].forEach(function(e) {%>
      <%- e.message %>
    <% }) %>
    </li>
  <% }) %>
  </ul>
  <% } %>
  <div class="form-group">
    <label for="username">Username</label>
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input type="text" class="form-control" name="username" id="username" placeholder="Enter your username">
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password">
  </div>
  <div class="form-group">
    <label for="password_confirmation">Repeat password</label>
    <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" placeholder="Repeat the password">
  </div>
  <button type="submit" class="btn btn-primary btn-default">Submit</button>
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>
