<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="holder.js/64x64" alt="s2gatev">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Stanislav Gatev</h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, ipsam, eos porro soluta minus exercitationem aut commodi! Fugiat a adipisci voluptates. Saepe, necessitatibus distinctio provident corporis enim ipsum vitae facere.

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="holder.js/64x64" alt="s2gatev">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Stanislav Gatev</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, ipsam, eos porro soluta minus exercitationem aut commodi! Fugiat a adipisci voluptates. Saepe, necessitatibus distinctio provident corporis enim ipsum vitae facere.
      </div>
    </div>
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="holder.js/64x64" alt="s2gatev">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Stanislav Gatev</h4>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, ipsam, eos porro soluta minus exercitationem aut commodi! Fugiat a adipisci voluptates. Saepe, necessitatibus distinctio provident corporis enim ipsum vitae facere.
      </div>
    </div>
  </div>
</div>