<div class="container">
  <div class="jumbotron">
    <h1>Hirundo</h1>
    <h2>A Twitter clone written in Node.</h2>
    <a href="/user/new" class="btn btn-lg btn-success">Sign up!</a>
  </div>
    <% include sign_in %>
</div>